// BREAKPOINTS
$desktop: 1500px;
$container-width: 1500px;
$tablet: 1024px;
$tablet-sm: 800px;
$mobile: 700px;
$mobile-sm: 500px;

// THEME
$theme-clr: #ff4000;
$theme-clr-light: rgb(255, 93, 30);
$theme-clr-dark: #293656;
$theme-clr-blue: #6f77c9;
$highlight: #10d800;
$highlight-light: #11ff00;
$bg-clr: #f6f5f1;
$note: #8f96a8;
$note-drk: #61697d;
$note-light: #757e93;

// LOGO
// $logo: 120px;
// $logo-tablet: 100px;
// $logo-mobile: 70px;

// FONTS
$font-sans-serif-reg: 'Barlow-Regular', Helvetica, Arial, sans-serif;
$font-sans-serif-med: 'Barlow-Medium', Helvetica, Arial, sans-serif;
$font-sans-serif-med-italic: 'Barlow-Medium-Italic', Helvetica, Arial, sans-serif;
$font-sans-serif-semibold: 'Barlow-SemiBold', Helvetica, Arial, sans-serif;
$font-sans-serif-semibold-italic: 'Barlow-SemiBold-Italic', Helvetica, Arial, sans-serif;
$font-sans-serif-bold: 'Barlow-Bold', Helvetica, Arial, sans-serif;
$font-sans-serif-bold-italic: 'Barlow-Bold-Italic', Helvetica, Arial, sans-serif;
$font-serif: 'MinionPro-Regular', Times New Roman, Times, serif;
$theme-font: 'Barlow-Regular', sans-serif;
$font-clr: $theme-clr-dark;
$font-clr-dark: #fff;
$transition-time: all ease 0.5s;

// HEADER
$header-height-desktop: 90px;
$header-height-tablet: 75px;
$header-height-mobile: 60px;
$header-bg-clr: rgba(255, 255, 255, 0.9);

// FOOTER
$footer-bg-clr: #f9f9f9;

// LAYOUT
$container-padding: 1.25rem;
$container-padding-mobile: 1.25rem;

/* GAPS */
$gap-sm: 1.5em;
$gap-med: 2em;
$gap-lrg: 2.5em;
$gap-xlrg: 3em;

// BORDERS
$bdr-radius-lrg: 15px;
$bdr-radius-med: 8px;
$bdr-radius-sm: 3px;
