@use 'variables.scss' as var;

/* =============================================
   HEADER
================================================ */

header {
	position: relative;
	flex-direction: row;
	align-content: center;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 999999999;
	transition: all 0.3s ease;
	padding: 1rem 0;
	background: var.$bg-clr;
	border-top: 5px var.$theme-clr solid;
	// border-bottom: 1px solid #ddd;
	// box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

/* =========================
	 LOGO DESKTOP
============================ */
#logo {
	max-width: clamp(170px, 20vw, 250px);
	transition: all 0.3s ease;
	margin-left: 1.25rem;
	margin-bottom: 0;
	align-self: center;
	opacity: 1;
	cursor: pointer;
}

#logo img {
	vertical-align: baseline;
}

@media (max-width: 800px) {
	header {
		padding: 0;
	}
}

header > div {
	display: flex;
	align-content: center;
	justify-content: space-between;
	max-width: var.$container-width;
	margin: 0 auto;
}

#header.unpinned,
#header.pinned {
	top: 0;
	height: 70px;
	padding: 0;
	transition: all 0.3s ease;
	border-bottom: 1px #ddd solid;
	box-shadow: 0 0px 4px rgba(0, 0, 0, 0.05);
}

#header.unpinned #nav-desktop,
#header.pinned #nav-desktop {
	align-items: start;
}

#header.unpinned #logo,
#header.pinned #logo {
	max-width: 170px;
	transition: all 0.3s ease;
}

@media (max-width: var.$mobile) {
	#header {
		height: 70px;
	}
	#header.unpinned,
	#header.pinned {
		padding: 0;
		height: 70px;
		transition: all 0.3s ease;
		border-bottom: 1px #ddd solid;
	}
	#logo {
		max-width: 170px;
	}
	#logo img {
		margin-top: 2px;
	}
}

/* =======================
   SKIP NAV
========================== */
a.skip-navigation {
	left: -999px;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
}
a.skip-navigation:focus,
a.skip-navigation:active {
	color: #fff;
	background-color: #000;
	left: auto;
	top: auto;
	width: 30%;
	height: auto;
	overflow: auto;
	margin: 10px 35%;
	padding: 5px;
	border-radius: 15px;
	border: 4px solid yellow;
	text-align: center;
	font-size: 1.2em;
	z-index: 999;
}
