@use 'variables.scss' as var;

#privacy-policy .container.page-top.btm {
	padding: clamp(8rem, 12.5vw, 200px) var.$container-padding 0;
	max-width: 1000px;
}

ul {
	list-style: disc;
	margin-bottom: 2rem;
	margin-left: 2rem;
}

h4 {
	margin-top: 2rem;
}
