@use 'variables.scss' as var;

.audit {
	max-width: 800px;
	margin: 0 auto 50px;
}

#intro {
	margin-bottom: 6rem;
}

#intro .container {
	padding: clamp(8rem, 20vw, 220px) var.$container-padding 0;
}

.lottie {
	max-width: 600px;
	margin: 60px auto 0;
}

/* =======================
	 BOOKMARKS
========================== */
#seo,
#maintenance,
#structure,
#performance,
#services,
#process,
#pricing,
#testimonials,
#contact {
	scroll-margin-top: calc(var.$header-height-desktop + 24px);
}

@media (max-width: var.$tablet) {
	#seo,
	#maintenance,
	#structure,
	#performance,
	#services,
	#process,
	#pricing,
	#testimonials,
	#contact {
		scroll-margin-top: calc(var.$header-height-tablet + 20px);
	}
}

@media (max-width: var.$mobile) {
	#seo,
	#maintenance,
	#structure,
	#performance,
	#services,
	#process,
	#pricing,
	#testimonials,
	#contact {
		scroll-margin-top: calc(var.$header-height-mobile + 16px);
	}
}

/* =======================
	 COUNTER
========================== */
.masonry-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 1.25rem;
	align-items: stretch;
	transition: all 0.5s ease-in-out;
}

.masonry-item {
	display: grid;
	align-content: flex-start;
	height: 100%;
	min-height: 300px;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-radius: 10px;
	background: var.$theme-clr-dark;
	padding: clamp(2.5rem, 3vw, 3rem) clamp(1.5rem, 2vw, 2rem) 1rem;
	font-size: 1.1rem;
	transition: box-shadow 0.3s;
}

.masonry-item > div,
.masonry-item h3,
.masonry-item p {
	text-align: center !important;
	margin: 0 auto;
	color: #fff;
}

.masonry-item h3 {
	font-size: clamp(1.5rem, 2vw, 1.75rem);
	line-height: 1.2;
	font-family: var.$font-sans-serif-reg;
	margin-bottom: 2rem;
}

.masonry-item p.issue {
	font-size: 1.2rem;
	line-height: 1.1;
	font-family: var.$font-sans-serif-bold;
	margin-bottom: 1rem;
	color: rgba(255, 255, 255, 0.8);
	color: var.$highlight;
	text-transform: uppercase;
}

.masonry-item .gbp {
	margin-top: 0;
	max-width: 70px;
}
.masonry-item img {
	max-width: 90px;
}

@media (max-width: 1400px) {
	.masonry-grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (max-width: var.$tablet) {
	.masonry-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.masonry-item:nth-child(6) {
		margin-top: 0;
	}
}

@media (max-width: var.$mobile-sm) {
	.masonry-grid {
		grid-template-columns: 1fr;
	}
}

/* =======================
	 SERVICES intro
========================== */
#services-intro .container {
	padding: 100px 1.25rem 0;
}

/* =======================
	 SERVICES
========================== */
#services .container.top.btm {
	padding: 125px 1.25rem 50px;
}

#services .services-grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 2rem;
	margin-top: 0;
}

#services .services-card {
	position: relative;
	background: #fff;
	border-radius: 10px;
	border: 1px var.$highlight solid;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
	padding: clamp(3rem, 4vw, 4rem) clamp(1.25rem, 4vw, 3rem) clamp(2rem, 3vw, 3rem);
	transition: 0.5s ease all;
	margin-bottom: 2rem;
	//border: 1px solid #dddddd;
}

#services .services-card:hover {
	background: rgba(16, 236, 0, 0.127);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#services .services-card h2 {
	font-size: 1.7rem;
	font-family: var.$font-sans-serif-bold;
	font-weight: 600;
	margin-bottom: 1rem;
}

#services .services-card p {
	font-size: 1.2rem;
	line-height: 1.2;
	margin-bottom: 1.5rem;
	font-family: var.$font-sans-serif-semibold;
}

#services ol {
	padding-left: 2rem;
	margin: 0 0 1.5rem;
	list-style-position: outside;
	max-width: 800px;
}

#services ol li {
	padding-left: 0.5rem;
	line-height: 1.4;
}

#services .service-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	overflow: visible;
	top: -2rem;
	right: 1rem;
	width: 80px;
	transition: all ease 0.3s;
}

.service-features {
	list-style: none;
	margin: 0;
	padding: 0;
}

.service-features li {
	align-items: flex-start;
	display: flex;
	font-size: 1.25rem;
}

.service-features .check {
	align-items: flex-start;
	color: var.$highlight;
	display: flex;
	font-weight: 700;
	justify-content: flex-start;
	margin-right: 0.75rem;
	width: 16px;
}

.gbp-video video {
	margin: 0 auto 50px;
}

.learn-more {
	color: var.$highlight;
	font-family: var.$font-sans-serif-med;
	display: inline-block;
	font-size: 1rem;
	font-weight: 600;
	margin-top: auto;
	text-decoration: none;
}

@media (max-width: var.$mobile) {
	#services .services-grid {
		grid-template-columns: 1fr;
		gap: 1.5rem;
	}
	#services .services-card.media .media-columns {
		gap: 0;
	}
}

#what-we-fix h3 {
	font-size: min(max(2.5rem, 3vw), 40px);
	font-family: var.$font-sans-serif-bold;
	line-height: 1.1;
	margin: 4rem auto 0;
	text-transform: uppercase;
}

/* =======================
	 PROCESS
========================== */
.process-timeline {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
	position: relative;
	margin-top: 0;
}

.process-timeline::before {
	content: '';
	position: absolute;
	top: 30px;
	left: 10%;
	height: 2px;
	width: 80%;
	background: linear-gradient(to right, var.$highlight, rgba(0, 230, 118, 0.3));
	z-index: 0;
	transform-origin: left;
	animation: timeline-line-grow 1.2s cubic-bezier(0.77, 0, 0.18, 1) 0.2s both;
}

.step-number {
	position: relative;
	width: 60px;
	height: 60px;
	background: var.$highlight;
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	margin: 0 auto 0.5rem;
	font-family: var.$font-sans-serif-med;
	background: var.$highlight;
	line-height: 1;
}
.process-step:nth-child(1) .step-number {
	animation-delay: 0.3s;
}
.process-step:nth-child(2) .step-number {
	animation-delay: 0.6s;
}
.process-step:nth-child(3) .step-number {
	animation-delay: 0.9s;
}
.process-step:nth-child(4) .step-number {
	animation-delay: 1.2s;
}

#process .container {
	margin: 0 auto;
	//background: #f9f9f9;
	border-radius: 20px;
}

#process h2 {
	//font-size: clamp(4rem, 5vw, 70px);
	line-height: 1;
	margin-bottom: 0;
}

@keyframes timeline-line-grow {
	from {
		width: 0;
	}
	to {
		width: 80%;
	}
}

.process-step {
	text-align: center;
	position: relative;
}

.step-content h3 {
	font-family: var.$font-sans-serif-med;
	font-size: clamp(1.5rem, 2.5vw, 1.75rem);
	font-weight: 600;
	margin-bottom: 1rem;
	line-height: 1.3;
	text-align: center;
}

.step-content#two h3 {
	margin-bottom: 0.3rem;
}

.step-content p {
	text-align: center;
	margin: 0;
}

@media (max-width: 900px) {
	.process-timeline {
		grid-template-columns: 1fr;
		gap: 0.5rem;
	}
	.process-timeline::before {
		background: none;
	}
}

@media (max-width: 800px) {
	.services-card {
		margin-bottom: 2rem;
	}
	.services-card:hover {
		transform: scale(1);
	}
}

/* =======================
	 PRICING
========================== */
#pricing {
	margin-top: 100px;
	padding: 0 var.$container-padding;
	//background: var.$bg-clr;
	//background: var.$theme-clr-blue;
}

#pricing .container {
	background: #fff;
	margin: 0 auto;
	//max-width: 1300px !important;
	padding: 2rem clamp(1.25rem, 4vw, 3rem) 0;
	border: 1px #ddd solid;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

#pricing .fix {
	float: right;
	max-width: 120px;
	padding: 0 0 1rem 1rem;
}

.pricing-card {
	//padding: 2rem 1rem 0 clamp(1.5rem, 3vw, 3rem);
	width: 100%;
	//margin-top: 35px;
	z-index: 2;
}

.pricing-card .item {
	padding: 1.5rem;
	background: var.$theme-clr-dark;
	//color: #fff;
	//border: 1px #ddd solid;
	border-radius: 10px;
}

.single-issue-container {
	padding-right: clamp(0rem, 3vw, 3rem);
}

.pricing-card.single-issue {
	padding: 0;
	border-left: 0;
	box-shadow: none;
}

.pricing-card.single-issue h3 {
	color: var.$theme-clr;
	font-size: min(max(2.5rem, 3vw), 36px) !important;
	margin-bottom: 1rem;
}

.pricing-card.single-issue p {
	color: var.$theme-clr-dark;
}

.pricing-card.single-issue .pricing-amount {
	color: var.$theme-clr-dark;
}

.pricing-card h3 {
	font-family: var.$font-sans-serif-semibold;
	font-size: clamp(1.5rem, 1.75vw, 1.75rem);
	font-weight: 500;
	margin-bottom: 0.5rem;
	line-height: 1;
}

.pricing-card h3,
.pricing-card h3 a {
	color: var.$highlight;
}

.pricing-card p {
	color: #fff;
}

.pricing-amount {
	font-size: 1.8rem;
	//text-align: right;
	line-height: 1.2;
	font-family: var.$font-sans-serif-med;
	color: #fff;
	margin-bottom: 1.5rem;
}

.pricing-card.single-issue .price-desc {
	font-family: var.$font-sans-serif-med;
}

.pricing-amount:last-child {
	margin-bottom: 0;
}

.pricing-amount sup {
	font-size: 1rem;
}

.price {
	text-align: left;
}

.price em {
	font-family: var.$font-sans-serif-reg;
	color: var.$note;
	font-size: 60%;
	text-align: left;
	font-style: normal;
}

@media (max-width: var.$tablet) {
	#pricing .container {
		padding: 50px clamp(1.5rem, 3vw, 3rem) 0;
	}
	.pricing-card {
		padding: 0;
		border-left: 0;
		margin: 0;
	}
	.pricing-card.single-issue {
		margin-bottom: 3rem;
	}
	.pricing-card.single-issue .pricing-amount {
		text-align: left;
	}
}

/* =================================
	 FORM
==================================== */
#contact {
	position: relative;
}

#contact .container.top.btm {
	max-width: 1000px;
}

@media (min-width: 701px) {
	#contact .contact-mobile {
		display: none;
	}
	#contact .contact-desktop {
		display: inline-block;
		text-align: right;
		margin-top: -50px;
		//border: 1px red solid;
	}
	#contact .contact-desktop img {
		max-width: 225px;
	}
}

@media (max-width: var.$mobile) {
	#contact .contact-desktop {
		display: none;
	}
	#contact .contact-mobile {
		display: block;
		max-width: 125px;
		margin-top: -20px;
		margin-right: -16px;
		float: right;
		margin-bottom: 1.5rem;
	}
}

@media (max-width: 500px) {
	#contact .contact-mobile {
		display: none;
	}
}
