@use 'variables.scss' as var;

#privacy-policy .container.top.btm {
	padding: clamp(2rem, 20vw, 100px) var.$container-padding 0;
	max-width: 1000px;
}

ul {
	list-style: disc;
	margin-bottom: 2rem;
	margin-left: 2rem;
}

h4 {
	margin-top: 2rem;
}
