---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import '../styles/page-home.scss';
import '../styles/form.scss';
import '../styles/swiper-testimonials.scss';
import gbp from '../img/gbp-mobile.webp';
import testimonials from '../img/testimonials.webp';
import fortune from '../img/fortune.webp';
import gia from '../img/gia.webp';
import riverscape from '../img/riverscape.webp';
import wyse from '../img/wyse.webp';
import shiupong from '../img/shiupong.webp';
import localseo from '../img/local-seo.webp';
import hosting from '../img/icon-audit.webp';
import iconHosting from '../img/icon-hosting.webp';
import iconStructure from '../img/icon-structure.webp';
import iconLocalseo from '../img/icon-local-seo.webp';
import iconTechnical from '../img/icon-technical-seo.webp';
import technical from '../img/technical.webp';
import iconIssueSSL from '../img/icon-issue-ssl.svg';
import iconIssueGBP from '../img/icon-issue-gbp.svg';
import iconIssueSpeed from '../img/icon-issue-speed.svg';
import iconIssueResponsive from '../img/icon-issue-responsive.svg';
import iconIssueBroken from '../img/icon-issue-broken.svg';
import IntroSection from '../content/page-sections/IntroSection.astro';
import MasonrySection from '../content/page-sections/MasonrySection.astro';
import ServicesIntroSection from '../content/page-sections/ServicesIntroSection.astro';
import ServicesSection from '../content/page-sections/ServicesSection.astro';
import PricingSection from '../content/page-sections/PricingSection.astro';
import ProcessSection from '../content/page-sections/ProcessSection.astro';
import TestimonialsSection from '../content/page-sections/TestimonialsSection.astro';
import ContactSection from '../content/page-sections/ContactSection.astro';
---

<Layout pageTitle="description" pageSiteTitles="">
	<IntroSection />
	<MasonrySection />
	<div class="cta"><a class="btn" href="#contact">Website Diagnostic</a></div>
	<ServicesIntroSection />
	<ServicesSection />
	<ProcessSection />
	<PricingSection />
	<TestimonialsSection />
	<ContactSection />

	<script src="../scripts/swiper-testimonials.js"></script>
	<script src="../scripts/nav-active-scroll.js"></script>
	<script src="../scripts/lazyload-videos.js"></script>
</Layout>
