---
import Layout from '../layouts/Layout.astro';
import '../styles/page-privacy.scss';
import PrivacyPolicyContent from '../content/privacy-policy.md';
---

<Layout pageTitle="Privacy Policy" pageSiteTitles="">
	<section id="privacy-policy">
		<div class="container top btm">
			<div class="flex padding-x">
				<div class="cell small-18">
					<PrivacyPolicyContent />
				</div>
			</div>
		</div>
	</section>
</Layout>
