---
import Layout from '../layouts/Layout.astro';
import '../styles/page-results.scss';
---

<Layout pageTitle="Scan Results" pageSiteTitles="">
	<section id="scan-results">
		<div class="container page-top btm">
			<div class="flex padding-x">
				<div class="cell small-18">
					<div class="results-intro">
						<h1 class="center">Scan Results</h1>
						<p class="center txt-lrg">
							This is a live preview of how <span class="semibold"
								><span id="results-url"><a href="" class="underline" target="_blank" rel="noopener noreferrer" role="link" aria-label="link to [url]">[url]</a></span></span
							> is performing, followed by a short list of recommendations.
						</p>
						<p class="center txt-lrg">
							To discuss the results and the complete list of recommendations,how to improve them in more detail, call <br /><span class="semibold"
								><a href="tel:4169861059" class="underline" role="link" aria-label="link to 416-986-1059">416 986 1059</a></span
							> or email <span class="semibold"
								><a class="underline" href="mailto:hello@tradesadmin.ca?subject=Question about my website" role="link" aria-label="Email Trades Admin">hello@tradesadmin.ca</a></span
							>
						</p>
					</div>
				</div>
			</div>
			<div id="results-root"></div>
		</div>

		<div class="container">
			<div class="flex padding-x">
				<div class="cell small-18 center">
					<div class="results-cta">
						<p class="center txt-lrg">
							To discuss the results and how to improve them in more detail, call <br /><span class="semibold"
								><a href="tel:4169861059" class="underline" role="link" aria-label="link to 416-986-1059">416 986 1059</a></span
							> or email <span class="semibold"
								><a class="underline" href="mailto:hello@tradesadmin.ca?subject=Question about my website" role="link" aria-label="Email Trades Admin">hello@tradesadmin.ca</a>.</span
							>
						</p>
					</div>
				</div>
			</div>
		</div>

		<script src="../scripts/results-page.js"></script>
	</section>
</Layout>
