---
import { Image } from 'astro:assets';
import before from '../../img/before.webp';
import after from '../../img/after.webp';
---

<section id="intro">
	<div class="container">
		<h1>Technical <span>FIXES</span> for contractor websites.</h1>
		<p class="tagline">
			Fixing <span class="semibold">hidden issues</span> that <span class="semibold">prevent customers</span> from <span class="semibold">contacting you</span>.
		</p>

		<div id="before-after">
			<div>
				<p class="theme-clr">With Issues</p>
				<Image src={before} alt="Before image showing a website with technical issues" />
			</div>
			<div>
				<p class="highlight">After Fixes</p>
				<Image src={after} alt="After image showing a website with technical issues resolved" />
			</div>
		</div>

		<p class="disclaimer"><strong>* Common issues:</strong> expired SSL certificates, broken forms, indexing errors, slow mobile page-loads.</p>

		<div class="cta"><a class="btn" href="#contact" role="link" aria-label="link to form">SCAN YOUR WEBSITE</a></div>
	</div>
</section>

<style lang="scss">
	@use '../../styles/variables' as var;

	#before-after {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
		margin: 0 auto 2rem;
		max-width: 650px;
		text-align: center;
		gap: 1rem;
	}

	#before-after p {
		text-align: center;
		margin-bottom: 0.25rem;
		font-family: var.$font-sans-serif-bold;
		font-size: 1.2rem;
		text-transform: uppercase;
	}
</style>
