---
import { Image } from 'astro:assets';
import fix from '../../img/icon-audit.webp';
---

<section id="pricing">
	<div class="container">
		<div class="flex padding-x align-middle">
			<div class="cell small-18 medium-9">
				<div class="single-issue-container">
					<h2>Pricing</h2>
					<p class="txt-lrg fnt-med">Cost depends on the site size, technical complexity, and number of issues identified.</p>
				</div>
			</div>
			<div class="cell small-18 medium-9">
				<div class="single-issue">
					<h3>Single-Issue Fix</h3>

					<p class="price-desc">Good for small, isolated fixes such as SSL/HTTP errors, broken forms, layout problems, or any single specific technical issue.</p>
					<div class="pricing-amount">
						<span class="price"><em>flat</em> <sup>$</sup>150</span>
					</div>
				</div>
			</div>
		</div>

		<div class="pricing-card">
			<div class="item">
				<h3><a href="#performance" role="link" aria-label="link to Performance">Performance Fixes</a></h3>
				<div class="pricing-amount">
					<span class="price"><em>from</em> <sup>$</sup>1,000</span>
				</div>
			</div>
			<div class="item">
				<h3><a href="#seo" role="link" aria-label="link to SEO">Technical SEO/Indexing</a></h3>
				<div class="pricing-amount">
					<span class="price"><em>from</em> <sup>$</sup>900</span>
				</div>
			</div>
			<div class="item">
				<h3><a href="#structure" role="link" aria-label="link to Structural & Functional Corrections">Structural Corrections</a></h3>
				<div class="pricing-amount">
					<span class="price"><em>from</em> <sup>$</sup>1,200</span>
				</div>
			</div>
			<div class="item">
				<h3><a href="#maintenance" role="link" aria-label="link to Maintenance & Hosting">Maintenance & Hosting</a></h3>
				<div class="pricing-amount">
					<span class="price"><em>from</em> <sup>$</sup>200</span>
				</div>
			</div>
			<div class="item">
				<h3>Starter Site</h3>
				<div class="pricing-amount">
					<span class="price"><em>from</em> <sup>$</sup>850 - <sup>$</sup>1,500</span>
				</div>
			</div>
			<div class="item">
				<h3>Credential Recovery</h3>
				<p>Missing login credential recovery <span class="note semibold">$75</span> <span class="txt-sm">(included in full cleanups).</span></p>
			</div>
		</div>
	</div>
</section>
