<section id="services-intro">
	<div class="container">
		<div class="flex padding-x align-middle">
			<div class="cell small-18 medium-11">
				<div class="services-intro">
					<p class="eyebrow">Services</p>
					<h2>Who This Helps</h2>

					<p class="txt-lrg">
						For contractors, <span class="semibold">your website needs to:</span>
					</p>
					<ul class="bullets txt-lrg">
						<li>Load quickly on mobile</li>
						<li>Allow customers to contact you easily</li>
						<li>Have service pages recognized by Google</li>
						<li>Stay error-free</li>
					</ul>
					<p class="txt-lrg margin-btm-med">
						<span class="semibold">Accurate business listings and a fast-loading website help local customers find and contact your business more easily.</span>
					</p>
				</div>
			</div>
			<div class="cell small-18 medium-7 gbp-video">
				<video playsinline muted loop autoplay aria-label="Google Business Profile optimization and local search results illustration" poster="/gbp.webp">
					<source data-src="/gbp.mp4" type="video/mp4" />
				</video>
			</div>
		</div>
	</div>
</section>
