<section id="services-intro">
	<div class="container">
		<div class="flex padding-x align-middle">
			<div class="cell small-18 medium-11">
				<div class="services-intro">
					<p class="eyebrow">Web Support</p>
					<h2>Who This Helps</h2>

					<p class="txt-lrg">
						For contractors, <span class="semibold">technical SEO</span> is high priority: your website needs to <span class="semibold">load fast</span>, be <span class="semibold"
							>configured for mobile</span
						>, and stay <span class="semibold">error-free</span>.
					</p>
					<p class="txt-lrg">
						A properly set up <span class="semibold"
							><a href="https://business.google.com/en-all/business-profile/" target="_blank" rel="noopener noreferrer" role="link" aria-label="Google Business Profile">Google Business Profile</a
							></span
						> along with good <span class="semibold"><a href="https://web.dev/vitals/" target="_blank" rel="noopener noreferrer" role="link" aria-label="Core Web Vitals">Core Web Vitals</a></span> work
						together to maximize your local search visibility, helping you <span class="semibold">reach more potential customers</span>.
					</p>
				</div>
			</div>
			<div class="cell small-18 medium-7 gbp-video">
				<video playsinline muted loop autoplay aria-label="Google Business Profile optimization and local search results illustration" poster="/gbp.webp">
					<source data-src="/gbp.mp4" type="video/mp4" />
				</video>
			</div>
		</div>
	</div>
</section>
